#page-container {
    position: relative;
    min-height: 85vh;
    padding-bottom: 0.5rem;
}

#logout-btn {
    margin-left: 14px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 0.5rem;  
}

.form-control {
    font-size: 16px;
}

@media (min-width: 768px) {
    #logout-btn {
        margin-left: 0px;
    }

    .form-control {
        font-size: 14px;
    }
}
